.water_container{
  width: 500px;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px dashed darkblue;

}
.btn_container{
  display: flex;
}
