.water-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  &__counter{
    margin: 20px;
    font-size: 18px;
  }

  &__content{
    width: 500px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dashed darkblue;
  }

  &__btn{
    display: flex;
  }
}


